<div class="form-results-page">
  <%= simple_form_for :spaces, url: spaces_path, method: "get" do |f| %>
    <%= f.label :guests, 'For how many people?' %>
    <%= f.input :guests, collection: 1..60, selected: params[:spaces][:guests].to_i, label: false %>
    <%= f.input :start_date, as: :string, input_html: {value: params[:spaces][:start_date], class: "datepicker date_field"} %>
    <%= f.input :end_date, as: :string, input_html: {value: params[:spaces][:end_date], class: "datepicker date_field"} %>
    <%= f.button :submit, "Go", class: "btn btn-success" %>
  <% end %>
</div>

<div class="results-container" style="position: relative, height:80vh; width:100vw; bottom: 0">
  <h3 style="font-size: 24px; padding-left: 30px;">Explore our spaces</h3>
  <div class="spaces-list" style="width: 50vw;
  height: 80vh; display: inline-block; position:absolute; left: 0">
    <% if @spaces.any? %>
      <% @spaces.each do |space| %>
        <div class="col-xs-12 col-sm-4">
          <div class="mx-3 my-3" >
            <div class="card-product relative">
              <%= link_to "", space_path(space), class:"link" %>
              <%if space.photo? %>
                <%= cl_image_tag space.photo %>
              <% else %>
                <%= image_tag ("http://thespaces.com/wp-content/uploads/2017/02/electroposive-NYC-coworking-space.jpg") %>
              <% end %>
              <div class="card-product-infos">
                <h2><%= space.name %></h2>
                <p><%= space.address %></p>
                <p><%= space.price_per_day%>€</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Sorry, we couldn't find any space that meets your criteria.</p>
    <% end %>
  </div>
  <div
  id="map"
  style="width: 50vw;
  height: 80vh; display: inline-block; position:absolute; right: 0"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>

