<div class="container">
  <h3 class="text-left mt-3 ml-4">Explore our spaces</h3>
  <div>
    <% if @spaces.any? %>
      <% @spaces.each do |space| %>
        <div class="col-xs-12 col-sm-4">
          <div class="mx-3 my-3" >
            <div class="card-product relative">
              <%= link_to "", space_path(space), class:"link" %>
              <%if space.photo? %>
                <%= cl_image_tag space.photo %>
              <% else %>
                <%= image_tag ("http://thespaces.com/wp-content/uploads/2017/02/electroposive-NYC-coworking-space.jpg") %>
              <% end %>
              <div class="card-product-infos">
                <h2><%= space.name %></h2>
                <p><%= space.address %></p>
                <p><%= space.price_per_person%>€</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Sorry, we couldn't find any space that meets your criteria.</p>
    <% end %>
  </div>
  <!-- <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'> -->
</div>
