<div class="card-show">
  <%= link_to "Browse all spaces", spaces_path(spaces: {address: ''}), class: "btn btn-success" %>
  <%if @space.photo? %>
    <%= cl_image_tag @space.photo %>
  <% else %>
    <%= image_tag ("http://thespaces.com/wp-content/uploads/2017/02/electroposive-NYC-coworking-space.jpg") %>
  <% end %>
  <h2 class="name"><%= @space.name %></h2>
  <h3 class="location"><%= @space.address %></h3>
  <p class="name"><%= @space.description %></p>
  <p style='font-weight: 600; font-size: 24px; color: #00FF97'><%= @space.price_per_day %>€/day</p>
  <!-- <div class="col-sm-12 col-md-6"> -->
  <div class="booking-form">
    <%= render "bookings/new", space: @space, booking: @booking %>
  </div>
</div>
