<div class="container">
  <div class="d-flex justify-content-between mt-3 page-heading">
    <h3 class = "ml-4">Booking History for <strong><%= @space.name %></strong></h3>
    <%= link_to 'Back to my listings', profile_path, class: "btn btn-success" %>
  </div>
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-4">
        <div class="mx-3 my-3" >
          <div class="card-product">
            <div class="card-product-infos">
              <p>User: <%= "#{@space.user.first_name.capitalize}  #{@space.user.last_name.capitalize}" %></p>
              <p>From: <strong><%= booking.start_date %></strong> To: <strong><%= booking.end_date %></strong></p>
              <p>Booked for <strong><%= booking.number_of_persons %></strong> people</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="ml-4">There are no bookings for this space.</p>
  <% end %>
</div>
<br><br>
