<div style="position: relative">

  <div class="banner">
      <h1>chaos</h1>
    <div class="container_chaos">
      <h1>space</h1>
    </div>
</div>
</div>

<div class="form_container">
  <h3>Find a space near you</h3>
  <%= simple_form_for :spaces, url: spaces_path, method: "get" do |f| %>
    <%= f.input :address, as: :string, placeholder: 'Type in your city', label: false, required: true %>
    <%= f.label :guests, 'Number of people:' %>
    <%= f.input :guests, collection: 1..60, selected: 1, label: false %>
    <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
    <%= f.button :submit, "Go", class: "btn btn-success" %>
  <% end %>
</div>
