<div class="banner">
    <h1>chaos</h1>
  <div class="container_chaos">
    <h1>space</h1>
  </div>
</div>

<div class="form_container">
  <h3>Find a space near you</h3>
  <%= simple_form_for :spaces, url: spaces_path, method: "get" do |f| %>
    <%= f.input_field :address, placeholder: 'Type in your city', required: true %>
    <%= f.label :guests, 'For how many people?' %>
    <%= f.input_field :guests, collection: 1..60, selected: 1, required: true %>
    <%= f.button :submit, "Go", class: "btn btn-primary" %>
  <% end %>
</div>
