<div class="banner">
   <div class="container_word">
      <h1>chaos</h1>
    </div>
  <div class="container_chaos">
    <h1>space</h1>
    </div>
</div>


<div class="form_container">
  <h3 class="text-left">Find your space</h3>
  <div class="row">
      <%= form_with model: @spaces do |form| %>
      <div class="form-input mb-1">
       <%= form.text_field :address, placeholder: "Type in location", class: "form-control" %>
     </div>
     <div class="form-input mb-1">
       <%= form.text_field :max_capacity, placeholder: "How many guests", class: "form-control" %>
     </div>
     <div class="form-input mb-1">
       <%= form.date_field :start_date, class: "form-control" %>
     </div>
     <div class="form-input mb-1">
       <%= form.date_field :end_date, class: "form-control" %>
     </div>

      <%= link_to "Search", spaces_path, class: "btn btn-success btn-sm" %>
      <% end %>
      </div>
    </div>

