<div class="banner">
   <div class="container_word">
      <h1>chaos</h1>
    </div>
  <div class="container_chaos">
    <h1>space</h1>
    </div>
</div>


<div class="container">
  <div class="row">
  <div class="form-group">
  <h2>Find your space</h2>
    <div class="form-inputs">
    <%= form_with model: @spaces do |form| %>
     <%= form.text_field "Location" %>
     <%= form.text_field "Number of guests" %>
     <%= form.date_field :start_date %>
     <%= form.date_field :end_date %>
     <%= form.submit "Search" %>
  <% end %>
</div>
</div>
</div>




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

